<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title | default: site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">
  <style>
    /* Add hover effect for links */
    a:hover {
      text-decoration: underline;
    }
  </style>
</head>
<body>
  <header>
    <h1>{{ site.title }}</h1>
    <nav>
      <ul>
        <li><a href="{{ '/' | relative_url }}">Home</a></li>
        <li><a href="{{ '/projects/' | relative_url }}">My Projects</a></li>
        <li><a href="{{ '/resume/' | relative_url }}">Resume</a></li>
        <li><a href="{{ '/contact/' | relative_url }}">Contact</a></li>
      </ul>
    </nav>
  </header>
  <main>
    {% if page.url == "/" %}
      <div class="home-header">
        <div class="headshot">
          <img src="{{ '/assets/Github_headshot.jpg' | relative_url }}" alt="Headshot">
        </div>
        <div class="links">
          <ul style="list-style-type: none; padding-left: 0;">
            <li>
              <a href="https://github.com/siegelhannah" target="_blank" style="display: inline-block; background-color: #add8e6; padding: 10px 20px; border-radius: 8px; text-decoration: none; color: #000;">
                My GitHub (for coding projects)
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/hannah-siegel-219162234/" target="_blank" style="display: inline-block; background-color: #add8e6; padding: 10px 20px; border-radius: 8px; text-decoration: none; color: #000;">
                My LinkedIn
              </a>
            </li>
          </ul>
        </div>
      </div>
    {% endif %}
    {{ content }}
  </main>
  <footer>
    <p>© {{ site.title }}</p>
  </footer>
</body>
</html>
